.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;

    /* for visualisation will delete later */
    background-color: #333;

    padding: 10px;
    display: flex;
    flex-direction: column;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo{
    width:40px;
    margin-right: 15px;
}

.group-name{
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.ul{
}

.new-project-button {
    width: 175px;
    height: 40px;
    padding: 10px; 
    color: #FFFFFF; 
    background-color: #443E3E; 
    border: 1px solid #52C41A; 
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.user-weidget{
    width: 175px;
    height: 40px;
    padding: 10px; 
    color: #FFFFFF; 
    background-color: #443E3E; 
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    bottom: 40px;
    left:47.5px;
}

.list-item{
    
}

.project-name {
    color: #A09B9B;
}

.icon{
    width:16px;
    cursor: pointer;
}