.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo{
    width:40px;
    margin-right: 15px;
}

.group-name{
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.ul{

}

.new-project-button {
    width: 195px;
    height: 40px;
    padding: 10px; 
    color: #FFFFFF; 
    background-color: #443E3E; 
    border: 1px solid #52C41A; 
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.user-widget {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #FFFFFF;
    background-color: #443E3E;
    border-radius: 10px;
    width: 175px;
    bottom: 30px;
    left:47.5px;
    position:absolute;
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left:34px;
}

.user-widget .text {
    font-size: 16px;
}

.list-item{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 20px;
    padding: 10px;
    font-size:14px;
}

.list-item:hover{
    background-color: #F0F0F0;
    border-radius: 10px;
}

.iconset{
    margin-left: auto;
}


.project-name {
    color: #A09B9B;
}

.icon{
    width:16px;
    cursor: pointer;
}